@font-face {
    font-family: 'GilroyBold';
    src: local('GilroyBold'),
         url('./fonts/Gilroy-Bold.ttf') format('ttf')
}

@font-face {
    font-family: 'GilroyRegular';
    src: local('GilroyRegular'),
         url('./fonts/Gilroy-Regular.ttf') format('ttf')
}

@font-face {
    font-family: 'GilroyMedium';
    src: local('GilroyMedium'),
         url('./fonts/Gilroy-Medium.ttf') format('ttf')
}

@font-face {
    font-family: 'GilroySemiBold';
    src: local('GilroySemiBold'),
         url('./fonts/Gilroy-SemiBold.ttf') format('ttf')
}
